<h3><%= l(:text_question_asked) %> (<%= Question.count(:conditions => { :opened => true, :assigned_to_id => User.current.id})%>)</h3>
<% questions_for_me = Question.find(:all, :conditions => { :assigned_to_id => User.current.id }) %>
<% issues = Issue.find( :all,
                        :conditions => {
                          :id => questions_for_me.map(&:issue_id)
                        },
                        :limit => 10,
                        :include => [:project],
                        :order => "#{Issue.table_name}.updated_on DESC"
                      ) %>

<% column = QueryColumn.new(:formatted_questions) %>

<% if issues && issues.any? %>
<% form_tag({}) do %>
	<table class="list issues">
		<thead><tr>
		<th>#</th>
		<th><%=l(:field_project)%></th>
		<th><%=l(:field_subject)%></th>
		<th><%=l(:field_formatted_questions)%></th>
		</tr></thead>
		<tbody>
		<% for issue in issues %>
		<tr id="issue-<%= issue.id %>" class="hascontextmenu <%= cycle('odd', 'even') %> <%= issue.css_classes %>">
			<td class="id">
			  <%= check_box_tag("ids[]", issue.id, false, :style => 'display:none;') %>
				<%= link_to issue.id, :controller => 'issues', :action => 'show', :id => issue %>
			</td>
			<td class="project"><%= link_to(h(issue.project), :controller => 'projects', :action => 'show', :id => issue.project) %></td>
			<td class="subject">
        <%= link_to h(truncate(issue.subject, :length => 60)), :controller => 'issues', :action => 'show', :id => issue %> (<%=h issue.status %>)
      </td>
      <%= content_tag 'td', column_content(column, issue), :class => column.name %>
		</tr>
		<% end %>
		</tbody>
	</table>
<% end %>
<% else %>
	<p class="nodata"><%= l(:label_no_data) %></p>
<% end %>

<% content_for :header_tags do %>
<%= auto_discovery_link_tag(:atom,
                            {:controller => 'issues', :action => 'index', :set_filter => 1,
                             :question_assigned_to_id => 'me', :format => 'atom', :key => User.current.rss_key},
                            {:title => l(:label_question_assigned_to_me_issues)}) %>
<% end %>
